*
			{
				margin:0;
				padding:0;	
			}
			
			html, body
			{
				background: rgb(248, 248, 248);
				font-family: "Microsoft YaHei" ! important;
				text-align: center;
				height: 100%;
				background:url('../images/update.png') no-repeat 4px 5px;
				overflow: hidden;
				background-size:100% 100%;
				padding:0; margin:0;
				margin-top:-3px;
                                margin-left:-3px;
			}
			.hp{
				
			}
			.common-center{
				margin-left:auto;
				margin-right:auto;
				text-align:center;
			}
			.common-hide{
				display: none;
			}
			.hp-head{
				padding-top: 24px;
				padding-bottom: 24px;
				position: relative;
				text-align: center;
				background: #fff;
			}
			
			.hp-head img{
				width: 160px;
				height: 56px;
			}
			.hp-desc{
				padding-top: 24px;
				padding-bottom: 24px;
				background: rgb(248, 248, 248);
				text-align: center;
			}
			.hp-desc-title{
				margin-top: 20px;
				color: #DC143C;
				font-size: 24px;
				margin-bottom: 20px;
			}
			
			.hp-desc-detail{
				font-size: 16px;
				color: #FF8C00;
				margin-bottom: 10px;
			}
			
			.hp-desc-logo{
				margin-top: 24px;
				width: 145px;
				height: 145px;
			}
			
			.hp-download{
				text-align: center;
				margin-left: 12px;
				margin-right: 12px;
				margin:0 auto;
			}
			.hp-download-btn{
				margin-top: 8px;
				width: 250px;
				height: 50px;
			}
					
			.hp-mask{	
			}
			.hp-mask-background{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;				
				background: #000;
				opacity: 0.6;
			}
			.hp-mask-instruction{
				position: fixed;
				top: 6px;
				right: 8px;
				width: 200px;
				height: 137px;
			}
			
			.hp-guid{
				
			}
			
			.hp-guid img{
				max-width: 300px;
				display: block;
				margin-top: 16px;
			}
			.hp-guid-title{
				margin-top: 10px;
				color: #ffa323;
				font-size:15px;
				margin-top: 10px;
				margin-bottom: 10px;
			}